---
layout: archive
title: ""
permalink: /research/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  <p style="margin-bottom: 1.5em; color: #666;">You can also find my articles on <a href="{{site.author.googlescholar}}">Google Scholar</a>.</p>
{% endif %}

<!-- Publications by Category -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2 class="pub-section-header">{{ category[1].title }}</h2>
        {% assign title_shown = true %}
      {% endunless %}
      {% if category[0] == 'work_in_progress' %}
        {% include archive-single-wip.html %}
      {% else %}
        {% include archive-single-publication.html %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single-publication.html %}
  {% endfor %}
{% endif %}



